{% extends "base.html" %}
{% block head_title %}日報アプリ一覧{% endblock %}
{% block content %}
<div class="container">
    {% if request.user.is_authenticated %}
        <div class="mt-3 d-flex justify-content-end">
            <a href={% url "nippo-create" %} class="btn btn-outline-primary float-end">
              <i class="bi bi-plus"></i>
            </a>
        </div>
    {% endif %}
    {% if object_list %}
        {% for obj in object_list %}
        <div class="card my-3 mx-auto" style="max-width:700px;">
            <div class="card-header">
                {{ obj.timestamp|date:"Y年n年j日" }}
            </div>
            <div class="card-body">
                <h5 class="card-title">
                {% if obj.user == request.user %}
                    <a href={% url 'nippo-update' obj.pk %}>
                        {{ obj.title}}<span style="font-size:10px;">(編集)</span>
                {% else %}
                    <a href={% url 'nippo-detail' obj.pk %}>
                        {{ obj.title}}
                {% endif %}
                    </a>
                </h5>
                <p class="card-text">
                    {{ obj.content }}
                </p>
            </div>
            <div class="card-footer">
            by 
            {% if obj.user == request.user %}
                <span class="badge bg-primary">あなた</span>
            {% else %}
                <span class="badge bg-secondary">{{ obj.user.profile.username }}</span>
            {% endif %}                 
            </div>
        </div>
        {% endfor %}
      {% else %}
        <div>日報が見つかりません</div>
      {% endif %}
</div>
{% endblock %}